@import "../../scss/colors.scss";

.showcase {
  background-color: $color-primary;
  height: 50vh;
  -webkit-box-shadow: 3px 4px 13px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 13px 9px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 13px 9px rgba(0, 0, 0, 0.75);
  & > .showcase-container{
    height: 50vh;
  }
}

.showcase-waitlist{
  max-height: 25%;
  overflow: hidden;
  cursor: pointer;
  & > div > img{
      width: 100%;
      object-fit: none;
  }
}
.showcase-container-high{
  display: grid;
  &>.card-img-overlay{
    background: none;
  }
}
img.showcase-highlight{
    width: 100%;
    object-fit: none;
    align-self: center;
}

.card{
  border-radius: 0;
}

.card-img-overlay{
  background: #000000AA;
  &:hover{
    background: #00000066;
  }
  &.active{
    background: none;
  }
}

