<div class="container-fluid showcase">
  <div class="row showcase-container">
    <div class="col-8 h-100 p-0">
      <div class="card h-100 bg-dark showcase-container-high text-white w-100">
        <img src="../../../../assets/images/layer-4.png" class="card-img showcase-highlight" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col-4 h-100">
      <div class="row showcase-waitlist h-25">
        <div class="card bg-dark text-white w-100">
          <img src="../../../../assets/images/layer-6.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="row showcase-waitlist h-25">
        <div class="card bg-dark text-white w-100">
          <img src="../../../../assets/images/layer-4.png" class="card-img" alt="...">
          <div class="card-img-overlay active">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="row showcase-waitlist h-25">
        <div class="card bg-dark text-white w-100">
          <img src="../../../../assets/images/layer-6.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="row showcase-waitlist h-25">
        <div class="card bg-dark text-white w-100">
          <img src="../../../../assets/images/layer-6.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
