@import '../shared/scss/colors.scss';

ul {
  list-style-type: none;
}
li{
  display: grid;
  & > a{
    color: $color-secondary;
    align-self: center;
  }
  &.active{
    background: rgb(255,70,86);
    background: linear-gradient(90deg, rgba(255,70,86,1) 0%, rgba(137,47,61,1) 0%, rgba(86,37,50,1) 0%, rgba(49,30,42,1) 12%, rgba(16,24,35,1) 88%);
    & > a{
      color: $color-white;
    }
  }
}
nav{
  height: 100%;
}

