@import '../shared/scss/colors.scss';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.content{
  background-color: $color-secondary;
  @include border-radius(2em 0 0 2em);
  height: 100vh;
}

.navbar{
  height: 100vh;
  padding-top: 10%;
  padding-bottom: 15%;
}
