<div class="container-fluid p-0 m-0">
  <div class="row m-0">
    <div class="col m-0 px-0 col-md-1 d-md-block d-none navbar">
      <app-navbar class="m-0 h-100"></app-navbar>
    </div>
    <div class="col m-0 p-0 col-md-11 col-xs-12 content">
      <router-outlet class="m-0 h-100"></router-outlet>
    </div>
  </div>
</div>
