@import '../shared/scss/colors.scss';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.container-fluid {
  background: url("../../assets/images/valorant-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  @include border-radius(2em 0 0 2em);

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-primary;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 2px #FFFFFF;
    background-color: $color-secondary;
  }
}
