<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>TWITCH STREAMERS</h4>
    </div>
  </div>
  <hr>
  <div class="row m-auto container">
    <div class="col">
      <div class="row twitch-item my-3">
        <app-twitch-item class="col"></app-twitch-item>
      </div>
      <div class="row twitch-item my-3">
        <app-twitch-item class="col"></app-twitch-item>
      </div>
      <div class="row twitch-item my-3">
        <app-twitch-item class="col"></app-twitch-item>
      </div>
    </div>
  </div>
</div>
