<div class="row my-4">
  <div class="col col-xs-12 col-md-4">
    <img src="../../../../../assets/images/layer-6.png" alt="" class="img-fluid">
  </div>
  <div class="col col-xs-12 col-md-8 p-4">
    <div class="row mt-2">
      <div class="col-2 categoria text-left">
        CATEGORÍA
      </div>
    </div>
    <div class="row mt-2">
      <h3>Título Noticia</h3>
    </div>
    <div class="row mt-2 text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in orci aliquet, sagittis tortor vel, ornare nisl. Aenean tincidunt velit nec sodales tempus. In risus dolor, suscipit ac purus et, interdum euismod velit. Quisque sagittis dapibus erat eget dictum. Cras cursus nisl sed lectus varius bibendum. Suspendisse vestibulum ac turpis a commodo. Donec sapien dui, ornare eget turpis sit amet, sodales bibendum dui. Vestibulum porttitor turpis non quam tempus finibus.
    </div>
    <div class="row mt-2">
      By <a href="#">Michu</a> | 31 Diciembre 2020 | 174 comentarios
    </div>
  </div>
</div>

