<div class="container-fluid my-2">
  <div class="row">
    <div class="col col-3">
      imagen
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col">
          TITULO NOTICIA
        </div>
      </div>
      <div class="row">
        <div class="col">
          By <a href="#">Michu</a>, 31 Diciembre 2020
        </div>
      </div>
    </div>
  </div>
</div>
