<div class="container-fluid">
  <div class="row">
    <div class="col col-xs-12">
      <app-search></app-search>
    </div>
  </div>
  <div class="container-fluid m-auto row">
    <div class="content-box col col-xs-12 col-md-9 mt-5">
      <div class="row">
        <div class="col col-xs-12 col-md-8">
          <app-showcase></app-showcase>
        </div>
        <div class="col col-xs-12 col-md-4">
          <app-informative></app-informative>
        </div>
      </div>
      <div class="container row">
        <app-newslist class="container"></app-newslist>
      </div>
    </div>
    <div class="col col-xs-12 col-md-3">
      <app-sidebar></app-sidebar>
    </div>
  </div>

</div>
