@import '../shared/scss/colors.scss';

.content{
  &::after{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border: 5px solid $color-primary;
    top: 0;
    right: 0;
  }
}
.navbar{
  height: 100vh;
  padding-top: 10%;
  padding-bottom: 15%;
}
