<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>REDES SOCIALES</h4>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-2"><a href="#" class="fa fa-facebook"></a></div>
    <div class="col-2"><a href="#" class="fa fa-twitter"></a></div>
    <div class="col-2"><a href="#" class="fa fa-instagram"></a></div>
  </div>
</div>
