/* You can add global styles to this file, and also import other style files */
@import './app/shared/scss/colors.scss';

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $color-primary;
  color: $color-white;
}

a{
  color: $color-primary;
}
