@import '../../scss/colors.scss';

hr{
  border-top: 1px solid $color-white;
  padding: 1px 0%;
  &::after{
    content: '';
    height: 3px;
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10%;
    background: $color-primary;
    color: $color-primary;
    font-size: 18px;
  }
}
