<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>ARTÍCULOS RECIENTES</h4>
    </div>
  </div>
  <hr />
  <div class="row m-auto container">
    <div class="col">
      <div class="row">
        <app-articulo-item class="col"></app-articulo-item>
      </div>
      <div class="row">
        <app-articulo-item class="col"></app-articulo-item>
      </div>
      <div class="row">
        <app-articulo-item class="col"></app-articulo-item>
      </div>
    </div>
  </div>
</div>
