<div class="container-fluid">
  <div class="row my-4">
    <app-rrss class="w-100"></app-rrss>
  </div>
  <div class="row my-4">
    <app-articuloslist class="w-100"></app-articuloslist>
  </div>
  <div class="row my-4">
    <app-twitchlist class="w-100"></app-twitchlist>
  </div>
  <div class="row my-4">
    <app-twitter-list class="w-100"></app-twitter-list>
  </div>
</div>
