@import '../../shared/scss/colors.scss';

.search{
  height: 25vh;
  display: grid;
}

.input-group{
  align-items: center;
  & > input{
    background-color: #ffffff40;
    color: $color-fullwhite;
    border: none!important;
    height: 3em;
    padding: 1.2em;
    font-size: 1.7em;
    &:focus {
      outline: none !important;
      border:1px solid $color-primary;
      box-shadow: 0 0 10px #FF465699;
    }
    &::placeholder{
      color: #ffffffb5!important;
    }
  }
}
