<div class="col col-xs-12 text-center search">
  <div class="input-group col-xs-12 col-md-6 offset-md-3">
    <input class="form-control py-2 border-left-0 border" type="search" value="" placeholder="Búsuqueda (Artículos, ID Usuario)" id="example-search-input" />
  </div>
</div>
