<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>TWEETS</h4>
    </div>
  </div>
  <hr />
  <div class="row w-100 px-0 m-auto container">
    <div class="col w-100 px-0 twitter-container">
      <ngx-twitter-timeline
        [data]="{ sourceType: 'url', url: 'https://twitter.com/PlayVALORANT' }"
        [opts]="{ tweetLimit: 5, theme: 'dark', height: 50 }"
      ></ngx-twitter-timeline>
    </div>
  </div>
</div>
