@import '../../scss/colors.scss';

hr{
  border-top: 1px solid $color-white;
  padding: 1px 0%;
  &::after{
    content: '';
    height: 3px;
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10%;
    background: $color-purple;
    font-size: 18px;
  }
}

.twitter-container{
  height: 65vh;
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-primary;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 2px #FFFFFF;
    background-color: $color-secondary;
  }
}
