@import '../../../scss/colors.scss';

.channel-button{
  display: grid;
  & > input{
    background: none;
    border: 1px solid $color-white;
    color: $color-white;
  }
}

.img-twitch-item{
  display: grid;
  & > img {
    align-self: center;
  }
}
