<div class="container-fluid my-2 p-1 twitch-item">
  <div class="row">
    <div class="col col-2 img-twitch-item">
      <img src="../../../../../assets/images/face-shroud.png" alt="">
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h5>Streamer</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          233 espectadores
        </div>
      </div>
    </div>
    <div class="col col-4 channel-button">
      <input type="button" value="IR AL CANAL">
    </div>
  </div>
</div>
