<div class="container-fluid showcase">
  <div class="row showcase-container">
    <div class="col-12 h-100 p-0">
      <div class="card h-100 bg-dark showcase-container-high text-white w-100">
        <img src="../../../../assets/images/informative.png" class="card-img showcase-highlight" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
  </div>
</div>
