@import "../../scss/colors.scss";

.informative {
  background-color: $color-primary;
  height: 50vh;
  -webkit-box-shadow: 3px 4px 13px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 13px 9px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 13px 9px rgba(0, 0, 0, 0.75);
}

.showcase {
  background-color: $color-primary;
  height: 50vh;
  -webkit-box-shadow: 3px 4px 13px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 13px 9px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 13px 9px rgba(0, 0, 0, 0.75);
  & > .showcase-container{
    height: 50vh;
  }
}
.card{
  border-radius: 0;
}
