<div class="row mt-5">
  <app-news-item class="col col-xs-12 col-md-12"></app-news-item>
  <app-news-item class="col col-xs-12 col-md-12"></app-news-item>
  <app-news-item class="col col-xs-12 col-md-12"></app-news-item>
</div>
